rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /diceSessions {
      allow read: if request.auth.uid != null;
    }

    match /diceSessions/{diceSession} {
      allow read, write: if request.auth.uid != null;
    }

    match /diceSessionScores/{diceSessionScores} {
     allow read, write: if request.auth.uid != null;
    }

    match /diceSessionDices/{diceSessionDices} {
     allow read, write: if request.auth.uid != null;
    }

    match /diceSessionPlayerTries/{diceSessionPlayerTries} {
     allow read, write: if request.auth.uid != null;
    }

    match /diceSessionPlayerTurn/{diceSessionPlayerTurn} {
    allow read, write: if request.auth.uid != null;
    }

    match /diceSessionRemainingTurns/{diceSessionRemainingTurns} {
     allow read, write: if request.auth.uid != null;
    }

    match /diceSessionChat/{diceSessionChat} {
     allow read, write: if request.auth.uid != null;
    }

    match /diceScoreboard/{diceScoreboardId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null && request.auth.uid == diceScoreboardId;
    }

    match /mineSweeperScoreboard/{mineSweeperScoreboardId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null && request.auth.uid == mineSweeperScoreboardId;
    }

    match /takuzuScoreboard/{takuzuScoreboardId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null && request.auth.uid == takuzuScoreboardId;
    }

    match /game2048Scoreboard/{game2048ScoreboardId} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null && request.auth.uid == game2048ScoreboardId;
    }

    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == userId;
    }
  }
}