@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Indie Flower';
  src: url('/assets/fonts/indie-flower/IndieFlower.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/assets/fonts/orbitron/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(var(--v-theme-background));
  max-width: 1200px;
  margin: 0 auto;
}

.button-dice {
  width: 300px;
  height: 64px;
  background-color: rgb(var(--v-theme-diceMainTertiary));
  color: #fff;
  font-size: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button-mineSweeper {
  width: 300px;
  height: 64px;
  background-color: rgb(var(--v-theme-mineSweeperMainPrimary));
  border-top: 4px solid rgb(var(--v-theme-mineSweeperMainSecondary));
  border-left: 4px solid rgb(var(--v-theme-mineSweeperMainSecondary));
  border-right: 4px solid rgb(var(--v-theme-mineSweeperMainTertiary));
  border-bottom: 4px solid rgb(var(--v-theme-mineSweeperMainTertiary));
  color: rgb(var(--v-theme-onSurfaceButton));
  font-size: 2rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.1rem;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--v-theme-scrollBarThumb));
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--v-theme-scrollBarThumbHover));
}
