@import url('https://fonts.googleapis.com/css?family=Noto Sans');
$font-family: 'Noto Sans';

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}